.first{
    width: 400px;
    padding: 20px;
    margin: 20vh auto;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
}
input{
    padding: 7px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #666;
}
 .button {
    padding: 10px;
    border-radius: 14px;
    background-color: green;
    color: white;
    font-weight: 700;
}
ul{
    width: 300px;
    margin: 10px auto ;
    padding: 10px;
}
li {
    width: 80%;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    margin: 0 auto;
    border-radius: 10px;
}

